* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrapper{
    background-image: url(img/Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-sec {
    height: 200px;
    /* background-size: cover; */

}
.Logo-img {
    width: 100px;
}

.nav-bar span {
    color: white;
    height: 75px;
    font-size: 35px;
    padding: 10px 0px;
    font-size: 40px;
    font-weight: 900px;
    background-color: black;
    /* margin-top:2rem; */
    text-align: center;
}

.nav-bar {
    /* margin: 2rem; */
    /* border: 2px solid white; */
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: sticky;
  
}

.nav-bar :hover {
    background-color: white;
    color: black;
    transition: all 500ms;
}

.nav-bar :hover ul li a {
    color: black;
    transition: all 500ms;
}

.ul-nav {
    /* margin-top: 2rem; */
    display: flex;
    justify-content: space-around;
    line-height: 50px;

}

.ul-nav li {
    list-style: none;
    margin-top: 1rem;

}

.ul-nav li a {
    text-decoration: none;
    color: white;

    /* font-weight: bolder; */
    /* border: 2px solid red; */
    font-size: 20px;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: black;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}

.hero {
    margin-left: 6rem;
    /* display: flex; */

}

.text1 {
    color: white;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.text2 {
    color: wheat;
    font-size: 100px;
}

.Button-class {
    padding: 10px;
    margin-top: 1rem;
    height: 60px;
    background-color: rgba(255, 235, 205, 0);
    border-radius: 20px;
    width: 150px;
    text-align: center;
    color: white;
    border: 3px solid white;
    font-size: 20px;
    font-weight: bold;
}

.Button-class:hover {
    background-color: #304561;
    border: 2px solid yellow;
    color: white;

}

.nav-bar:hover .Button-class {
    border: 2px solid rgba(255, 208, 0, 0.925);
    color: black;
}

.nav-bar:hover .Button-class:hover {
    color: white;
}

.Img {
    padding-top: 2rem;
}

.hero {
    height: 500px;
    display: flex;
    justify-content: center;
}
.subnav-content{
    display: none;
}

.subnav-content{
    position: absolute;
}
.cool-link:hover + .subnav-content {
    width: 100%;
    display: block;
    background-color: white;
    left: 0;
    margin-top:0rem;
}
.head {
    /* background-color: #4cbde633; */
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    /* align-self:center; */
}

.text3 {
    color: white;
    font-size: 35px;
    margin-top: 2rem;
}

.text-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2rem;
    width: 250px;
    align-self: center;
    padding: 0.6rem;
    font-size: 27px;
    border-radius: 30px;
    background-color: orange;
    border: none;
    color: rgb(61, 60, 60);
}

.text-button:hover {
    background-color: #304561;
    color: white;
}

.hero2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.hero-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero2-text p {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hero2-text h1 {
    font-size: 46px;
    font-weight: 500;
}

.gird-item {
    background-color: #304561;
}

.grid-container {
    width: 100%;

    height: 800px;
    display: grid;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    grid-template-columns: 400px 400px 400px;
    /* border: 2px solid red; */
}

.grid-container img {
    width: 100%;
}

.gird-content {
    width: 400px;
    background-color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 700px;
    /* border: 3px solid blue; */
}

.gird-content h2 {
    margin-top: 2rem;
    font-size: 40px;

}

.grid-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gird-content h3 {
    color: #ED6B4D;
    font-size: 40px;
    margin-top: 1rem;

}

.gird-content h3 span {
    color: #C4C4C4;
    text-decoration: line-through;
}

.gird-content p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}
.gird-content:hover{
    box-shadow: 2px 2px 2px 2px black;
}

.gird-content button {
    bottom: 0px;
}

.p-1 {
    color: #ED6B4D;
}

.p-1 span {
    border-style: dotted;
}

.gird-content span {
    color: #ED6B4D;
    margin-top: 1rem;
}

.btn {
    margin-top: 8rem;
}
.hero-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.hero3-img{
    width:400px;
    margin-right: 2rem;
}
.hero-3 div h3{
    margin-left: 5rem;
    margin-right: 2rem;
    font-size: 30px;
} 
.hero-3 div p{
    margin-left:5rem;
    margin-right: 2rem;

} 
.img-ss{
    width: 200px;
    margin-left: 5rem;
}
footer{
    display: flex;
    background-color: #F3F0EB;
}
footer h3{
    color: #304561;
    font-size: 30px;
}
.m{
    margin: 3rem;
}
footer p{
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
}
.logo{
    margin-left: -2rem;
}
.logo h1{

    color: #304561;

}
.logo-img i{
    margin-top:1rem;
    margin-right:10px;
}

.footer-last{
    color: #304561;
    margin-top:3rem;
    
}